# Data Science Challenge

In [ ]:
# If you would like to install packages that are not installed by default, uncomment the last two lines of this cell and replace <package list> with a list of your packages.
# This will ensure your notebook has all the dependencies and works everywhere

#import sys
#!{sys.executable} -m pip install <package list>

In [1]:
#Libraries
import pandas as pd
pd.set_option("display.max_columns", 101)

## Data Description

Column | Description
:---|:---
`id` | The unique ID assigned to every restaurant.
`name` | The name of the restaurant.
`location` | The location of the restaurant.
`phone` | The phone number of the restaurant.
`table_bookings` | Indicates if the restaurant takes online reservations.
`online_ordering` | Indicates if the restaurant takes online orders.
`restaurant_type` | The type of restaurant. Values are Casual Dining, Cafe, Quick Bites, etc.
`restaurant_operation` | The primary operation of the restaurant. For example, ‘Delivery’.
`primary_cuisine` | The name of the primary cuisine offered by the restaurant. Values are American, Mexican, etc.
`popular_dishes` | The number of popular dishes offered by the restaurant.
`cuisines_offered` | The number of cuisines offered by the restaurant.
`rating` | The rating of the restaurant.
`votes` | The number of customer votes received by the restaurant
`dining_cost` | It indicates if the classification of dining costs at the restaurant. Values are 0 (Budget), 1 (Expensive).

## Data Wrangling & Visualization

In [4]:
# Dataset is already loaded below
data = pd.read_csv("train.csv")

In [5]:
data.head()

,id,name,table_bookings,online_ordering,location,rating,votes,phone,restaurant_type,restaurant_operation,popular_dishes,cuisines_offered,primary_cuisine,dining_cost
0,19340,Plan B,No,No,Greenwich,4.2/5,1651.0,8041609100,"Casual Dining, Pub",Pubs and bars,7.0,4.0,American,1.0
1,31103,Hunan,No,Yes,Tribeca,4.3 /5,2248.0,080 25520154,Casual Dining,Dine-out,7.0,3.0,Chinese,1.0
2,17563,Lavonne,No,No,Greenwich,4.4/5,1095.0,9740954505,"Cafe, Dessert Parlor",Cafes,7.0,2.0,Snacks,1.0
3,11192,Ambur Star Dum Burger,Yes,No,Chelsea,3.4/5,17.0,"7200110202\r, 9840017416",Quick Bites,Dine-out,1.0,1.0,Italian,0.0
4,21324,Dadi's Dum Burger,Yes,Yes,Lower Manhattan,4.1 /5,2727.0,"7090999991, 7090599999",Casual Dining,Dine-out,7.0,3.0,Italian,1.0

In [6]:
#Explore columns
data.columns

Index(['id', 'name', 'table_bookings', 'online_ordering', 'location', 'rating',
       'votes', 'phone', 'restaurant_type', 'restaurant_operation',
       'popular_dishes', 'cuisines_offered', 'primary_cuisine', 'dining_cost'],
      dtype='object')

In [7]:
#Description
data.describe()

,id,votes,popular_dishes,cuisines_offered,dining_cost
count,2435.000000,2391.000000,2316.000000,2413.00000,2435.000000
mean,24562.075975,486.398996,3.569948,2.58765,0.520329
std,14043.041772,1294.380994,2.816004,1.29975,0.499689
min,53.000000,0.000000,1.000000,1.00000,0.000000
25%,11191.000000,9.500000,1.000000,2.00000,0.000000
50%,22754.000000,66.000000,1.500000,2.00000,1.000000
75%,34879.000000,383.000000,7.000000,3.00000,1.000000
max,51708.000000,14723.000000,7.000000,8.00000,1.000000

## Visualization, Modeling, Machine Learning

Build a model that can categorizes restaurants into 'Budget' and 'Expensive' and identify how different features influence the decision. Please explain the findings effectively for technical and non-technical audiences using comments and visualizations, if appropriate.
- **Build an optimized model that effectively solves the business problem.**
- **The model will be evaluated on the basis of Accuracy.**
- **Read the test.csv file and prepare features for testing.**

In [8]:
#Loading Test data
test_data=pd.read_csv('test.csv')
test_data.head()

,id,name,table_bookings,online_ordering,location,rating,votes,phone,restaurant_type,restaurant_operation,popular_dishes,cuisines_offered,primary_cuisine
0,19281,Plan B,No,No,Greenwich,4.2/5,1651.0,8041609100,"Casual Dining, Pub",Drinks & nightlife,7.0,4.0,American
1,16095,Mom's Kitchen,No,No,East Village,NaN,0.0,"9738732072, 9742716121",Delivery,Delivery,1.0,1.0,American
2,42040,Keys Cafe - Keys Hotel,No,No,Chinatown,2.8 /5,161.0,080 39451000\n 8884038484,"Casual Dining, Bar",Dine-out,7.0,3.0,Chinese
3,18753,Smally's Resto Cafe,Yes,No,Greenwich,4.0/5,401.0,"080 48149349, 9632015858",Cafe,Dine-out,7.0,5.0,Snacks
4,21065,Fabcafe,No,Yes,Chelsea,3.8 /5,11.0,8050403072,Cafe,Dine-out,1.0,2.0,Snacks



**The management wants to know the most important features for the model.**

> #### Task:
- **Visualize the top 20 features and their feature importance.**

> #### Task:
- **Submit the predictions on the test dataset using the optimized model** <br/>
    For each record in the test set (`test.csv`), predict the value of the `dining_cost` variable. Submit a CSV file with a header row and one row per test entry. 

The file (`submissions.csv`) should have exactly 2 columns:
   - **id**
   - **dining_cost**

In [ ]:
#Submission
submission_df.to_csv('submissions.csv',index=False)

---